<!DOCTYPE html>

<html lang="slo">
<head>
	<title>Program z Tomo</title>
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<meta name="author" content="Vid Križnar">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<form action="." class="form" id="form" method="post" style="width:960px">
	<div class="container">
		<label for="naslov"><b>Naslov</b></label>
		<input type="text" placeholder="Vnesi naslov naloge" name="naslov" value="{{adress}}" autofocus required>
		<label for="opis"><b>Opis</b></label>
		<br>
		<body onLoad="onload();">
		<input type="button" value="bold" onClick="formatText('b');"/> 
		<input type="button" value="italic" onClick="formatText('i');"/> 
		<input type="button" value="underline" onClick="formatText('u');"/>
		<input type="button" value="equation" onClick="formatText('m')"/>
		<input type="button" value="predogled" style="float: right;" onClick="opis_preview()"/>
		<textarea name="opis" id="opis" form="form" placeholder="Dodaj besedilo k nalogi" required>{{description}}</textarea>
		<label for="predogled"><b>Predogled opisa</b></label>
		<div id="opis_preview"></div>
		<label for="koda"><b>Koda</b></label>
		<textarea name="koda" id="koda" form="form" placeholder="Ta text editor bi rabli najdti kakšnega na spletu, ker bi blo preveč časovno zamudno pisat python-style text editor" required>{{code}}</textarea>
		<button type="submit" id="naprej" style="display: block;">Naprej na dodajanje testov</button>
		<h5>
			%if napaka is not None:
					{{napaka}}
			%end
		</h5>
	</div>
</form>
<br>
<div class="container" id="testi" style="display:none; margin: auto">
	<div class="testi">
		<label for="testi"><b>Dodani testi</b></label>
		<br><br>
		<table class="table-fill">
		<thead>
			<tr>
				<th class="text-left"># Testa</th>
				<th class="text-left">Tip testa</th>
				<th class="text-left">Niz s klicem funkcije</th>
				<th class="text-left">Rezultat niza</th>
			</tr>
		</thead>
		<tbody class="table-hover">
			<tbody>  
				% if rows is not None:
				% for row in rows:
				<tr>
					%for col in row:
						<td class="text-center">{{col}}</td>
					%end
				</tr>
				%end
				%end
			</tbody>
		</tbody>
		</table>
		<br>
		<div class="dodajanje">
			<label for="test"><b id="test" style="width: 50%;">Dodaj test</b></label>
			<select id="testSelect1" form="form1" name="tipTesta1" onchange="tiptesta(this)" style="display: inline-block;">
				<option selected value='chkeql'>Check.equal</option>
				<option value='test2'>Test no.2</option>
			</select>
			<br><br>
			<form action="." role="form" method="post" class="form1" id="form1" style="display: inline-block;">
				<input type="hidden" name="tipTesta" value="chkeql">
				<input type="text" placeholder="Niz s klicem funkcije" name="niz" style="float:left; width:540px;" required>
				<input type="number" placeholder="Rezultat" name="rezultat" style="float:center; width:300px;" required>
				<button type="submit" class="submit" style="float:right; width:100px; margin-top: 8px;">Dodaj</button>
			</form>
			<form action="." role="form" method="post" class="form1" id="form2" style="height: 53px; display: none;">
				<input type="hidden" name="tipTesta" value="test2">
				<input type="text" placeholder="Niz s klicem funkcije" name="niz" style="float:left; width:840px;" required>
				<button type="submit" class="submit" style="float:right; width:100px; margin-top: 8px;">Dodaj</button>
			</form>
		</div>
	</div>
</div>

<script>
// jQuery koda, ki če uporabnik pritisne tab ga prestavi za tab v deno, ne samo da se premakne na naslednji element na strani
$(document).delegate('#koda, #opis', 'keydown', function(e) {
  var keyCode = e.keyCode || e.which;
  if (keyCode == 9 || keyCode == 13) {
    var start = this.selectionStart;
    var end = this.selectionEnd;
	// dodaj znak tab(/t) textarea-ju 
	if (keyCode == 9){
	    e.preventDefault();
		$(this).val($(this).val().substring(0, start)
					+ "    "
					+ $(this).val().substring(end));
		// postavi caret nazaj na prvotno mest
		this.selectionStart =
		this.selectionEnd = start + 4;
	}
	else {
	$(this).val($(this).val().substring(0, start)
					+ "<br>"
					+ $(this).val().substring(end));
	this.selectionStart =
	this.selectionEnd = start + 4;
	}
  }
});
// js koda, za underlying, bold, italic, ter LaTex enačbe
function formatText(x) {
	var textArea = document.getElementById('opis');
	var textAreaValue = textArea.value;
	var textAreaSubstring = textAreaValue.substring(textArea.selectionStart, textArea.selectionEnd);
	var textAreaBefore = textAreaValue.substring(0, textArea.selectionStart);
	var textAreaAfter = textAreaValue.substring(textArea.selectionEnd, textAreaValue.length);
	textArea.value = textAreaBefore + '<' + x + '>' + textAreaSubstring + '</' + x + '>' + textAreaAfter;
}
//koda, ki prikaze uporabniku kako zgleda njegov opis
function opis_preview() {
    var textArea = document.getElementById('opis');
	var replacedTextArea = textArea.value.replace(" ", "&nbsp")
	var textView = document.getElementById("opis_preview");
	textView.innerHTML = replacedTextArea
}
//ko gre uporabnik naprej
%if testi:
	var testi = document.getElementById("testi");
	testi.style.display = "block";
	document.getElementById("naprej").style.display = "none";
	$('html,body').animate({scrollTop: document.body.scrollHeight},"fast");
%end

function tiptesta(test) {
	if(test.value == "chkeql") {
		document.getElementById("form1").style.display = "inline-block";
		document.getElementById("form2").style.display = "none";
	}
	else if(test.value == "test2") {
		document.getElementById("form1").style.display = "none";
		document.getElementById("form2").style.display = "inline-block";
	}
}
</script>

	



</body>
</head>
