<!doctype html>
<head>
<script src="lib/codemirror.js"></script>
<link rel="stylesheet" href="lib/codemirror.css">
<script src="mode/python/python.js"></script>

<style>
body {
	background-color: #eee;
}
</style>
</head>
<body>
var editor = CodeMirror(document.getElementById("codeeditor"));
var editor = CodeMirror(document.body, {
  value: "[i**2 for i in range(5)]",
  mode:  "Python"
})

var editor = CodeMirror(document.body, {
  value: "function myScript(){return 100;}\n",
  mode:  "javascript"
})
<div id="codeeditor"></div>
<script>
var editor = CodeMirror(document.getElementById("codeeditor"), {
  value: "def bla(): pass",
  lineNumbers: true,
  mode: "python",
  version: 3,
  indentUnit: 4,
})
</script>
</body>
</html>
