<!DOCTYPE html>
<html lang="slo">
<head>
	<title>Naloga</title>
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<meta name="author" content="Vid Križnar">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico">
</head>

<body>
<div class="container">
	<!-- <a href="nova" style="text-decoration: none; cursor: pointer;">
		<div class="nova">
			<p>Ustvari novo nalogo</p>
		</div>
	</a> -->
	<div class="obstojeca" onclick="document.getElementById('file').click();">
		<p>Izberi nalogo za urejanje</p>
		<div id="upload" style="display:none;">
			<br><br>
			<form method="post" id="form" action="/upload" enctype="multipart/form-data" style="visability: hidden;">
				<input type="file" name="file" id="file" style="margin-left: 15px; display: inline-block;">
			</form>
		</div>
	</div>
</div>


<script>
document.getElementById("file").onchange = function() {
    document.getElementById("form").submit();
}
</script>

</body>
</html>
