<!DOCTYPE html>

<html lang="slo">
<head>
	<title>Naloga</title>
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<meta name="author" content="Vid Križnar">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico">
</head>

<body>

<div class="container">
	<a href="nova" style="text-decoration: none; cursor: pointer;">
		<div class="nova">
			<p>Ustvari novo nalogo</p>
		</div>
	</a>
	<div class="obstojeca" onclick="document.getElementById('upload').style.display = 'block';">
		<p>Uredi obstoječo nalogo</p>
		<div id="upload" style="display:none;">
			<br><br>
			<form method="post" action="/upload" enctype="multipart/form-data">
				<input type="file" name="file" style="margin-left: 15px;">
				<input type="submit" value="Submit" style="float: right; margin-right: 15px; height: 33px; font-size: 16px;">
			</form>
		</div>
	</div>
</div>


</body>
</html>