<!DOCTYPE html>

<html lang="slo">
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/podnaloga.css">
	<meta name="author" content="Vid Križnar">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<form action="." class="form" id="form" method="post" style="width:960px">
	<div class="container">
		<label for="opis"><b>Opis</b></label>
		<br>
		<body onLoad="onload();">
        <input type="hidden" name="prekoda_gor" id="hidden" value="False">
		<input type="button" value="bold" onClick="formatText('b');"/> 
		<input type="button" value="italic" onClick="formatText('i');"/> 
		<input type="button" value="underline" onClick="formatText('u');"/>
		<input type="button" value="latex" onClick="formatText('$')"/>
		<input type="button" value="predogled" style="float: right;" onClick="opis_preview()"/>
		<textarea name="opis" id="opis" form="form" placeholder="Dodaj besedilo k nalogi" required>{{description}}</textarea>
		<label for="predogled"><b>Predogled opisa</b></label>
		<div id="opis_preview"></div>
		<label for="prekoda"><b>Pre-koda</b></label>
        <input type="button" id="prekoda_gor_gumb" value="Pošlji v opis" style="float: right;"/>
		<textarea name="prekoda" id="prekoda" form="form" placeholder="Ta text editor bi rabli najdti kakšnega na spletu, ker bi blo preveč časovno zamudno pisat python-style text editor">{{precode}}</textarea>
		<label for="koda"><b>Rešitev</b></label>
		<textarea name="koda" id="koda" form="form" placeholder="Ta text editor bi rabli najdti kakšnega na spletu, ker bi blo preveč časovno zamudno pisat python-style text editor" required>{{code}}</textarea>
		<button type="submit" id="naprej" style="display: block;">Shrani zgornje vrednosti</button>
		<h5>
			%if napaka is not None:
					{{napaka}}
			%end
		</h5>
	</div>
</form>
<br>
<div class="container" id="testi" style="display:block; margin: auto; overflow: hidden;">
	<div class="testi">
		<div id="eql" style="display: none;">
			<label for="testi"><b>Dodani testi - Check equal</b></label>
			<br><br>
			<table class="table-fill">
			<thead>
				<tr>
					<th class="text-center"># Testa</th>
					<th class="text-center">Niz s klicem funkcije</th>
					<th class="text-center">Rezultat niza</th>
                    <th class="text-center">Urejanje</th>
				</tr>
			</thead>
			<tbody class="table-hover">
				<tbody>  
					%if "check_equal" in tests:
                    %    for group_id in range(len(tests["check_equal"])):
                    %        for i in range(len(tests["check_equal"][group_id])):
                    %            test = tests["check_equal"][group_id][i] 
					<tr>
                        <td class="text-center">{{group_id + 1}}</td>
                        <td class="text-center">{{test.expression}}</td>
                        <td class="text-center">{{test.output}}</td>

                        <td class="text-center">
                            <div id="redBox" style="display: inline-block;">
                                <a href="chkeql-delete{{group_id}}{{i}}/" style="text-decoration:none; color: inherit;"><span id="x">&times;</span></a>
                            </div>
                            <div id="orangeBox" style="display: inline-block;">
                                 <a href="chkeql-move{{group_id}}{{i}}/" style="text-decoration:none; color: inherit;"><span id="up">&#8679;</span></a>
                            </div>
                        </td>
					</tr>
					%end
					%end
					%end
				</tbody>
			</tbody>
			</table>
			<br>
		</div>
		<div id="sct" style="display: none;">
			<label for="testi"><b>Dodani testi - Check secret</b></label>
			<br><br>
			<table class="table-fill">
			<thead>
				<tr>
					<th class="text-center"># Testa</th>
					<th class="text-center">Prvi argument testa</th>
					<th class="text-center">Drugi argument testa</th>
                    <th class="text-center">Urejanje</th>
				</tr>
			</thead>
			<tbody class="table-hover">
				<tbody> 
					%if "check_secret" in tests:
                    %    for group_id in range(len(tests["check_secret"])):
                    %        for i in range(len(tests["check_secret"][group_id])):
                    %            test = tests["check_secret"][group_id][i]
					<tr>
                        <td class="text-center">{{group_id + 1}}</td>
                        <td class="text-center">{{test.expression}}</td>
                        <td class="text-center">{{test.other}}</td>

                        <td class="text-center">
                            <div id="redBox" style="display: inline-block;">
                                <a href="chksct-delete{{group_id}}{{i}}/" style="text-decoration:none; color: inherit;"><span id="x">&times;</span></a>
                            </div>
                        </td>
					</tr>
					%end
					%end
					%end
				</tbody>
			</tbody>
			</table>
			<br>
		</div>
		<div class="dodajanje">
			<label for="test"><b id="test" style="width: 50%;">Dodaj test</b></label>
			<select id="testSelect" name="tipTesta" onchange="tiptesta(this)" style="display: inline-block; padding-left: 5px;">
				<option selected value='chkeql'>Check equal</option>
				<option value='chksct'>Check secret</option>
			</select>
			<br><br>
			<form action="." role="form" method="post" class="form1" id="chkeql" style="display: inline-block;">
				<input type="hidden" name="tipTesta" value="chkeql">
				<input type="number" placeholder="# testa" name="stevilka" style="float:left; width:100px;" required>
				<input type="text" placeholder="Niz s klicem funkcije" name="niz" style="float:left; width:500px;" required>
				<input type="text" placeholder="Rezultat" name="rezultat" style="float:left; width:240px;" required>
				<button type="submit" class="submit" style="float:right; width:100px; margin-top: 8px;">Dodaj</button>
			</form>
			<form action="." role="form" method="post" class="form1" id="chksct" style="height: 53px; display: none;">
				<input type="hidden" name="tipTesta" value="chksct">
				<input type="number" placeholder="# testa" name="stevilka" style="float:left; width:100px;" required>
				<input type="text" placeholder="Prvi argument secret testa" name="niz1" style="float:left; width:370px;" required>
				<input type="text" placeholder="Drugi argument secret testa" name="niz2" style="float:left; width:370px;">
				<button type="submit" class="submit" style="float:right; width:100px; margin-top: 8px;">Dodaj</button>
			</form>
		</div>
		<br>
		<label for="other"><b id="other_label" style="width: 50%;">Dodaj preostale teste</b></label>
		<form action="." role="form" method="post" class="form1" id="form3" style="height: 53px; width: 100%; display: inline-block;">
			<input type="hidden" name="tipTesta" value="other">
			<textarea name="other" id="other" form="form3" placeholder="Vnesi ostale teste" required>{{tests["other"]}}</textarea>
			<button type="submit" class="submit" id="dodaj_f3" style="float:right; display:block; width:100px; margin-top: 8px;">Dodaj</button>
			<button type="submit" class="submit" id="posodobi_f3" style="float:right; display:none; width:100px; margin-top: 8px;">Posodobi</button>
		</form>
	</div>
	<br>
	<div>
		<a class="link" href="/index/naloga/podnaloga/" target="_blank" ><button id="naprej" style="display: inline-block; margin: auto; width: 49.8%; float: left;">Nova podnaloga</button></a>
		<a class="link" href="/pretvori/"><button id="naprej" style="display: inline-block; margin: auto; width: 49.8%; float: right;">Oddaj sklop</button></a>
	</div>
</div>

<script>
// jQuery koda, ki če uporabnik pritisne tab ga prestavi za tab v deno, ne samo da se premakne na naslednji element na strani
$(document).delegate('#opis', 'keydown', function(e) {
  var keyCode = e.keyCode || e.which;
  if (keyCode == 9 || keyCode == 13) {
    var start = this.selectionStart;
    var end = this.selectionEnd;
	// dodaj znak tab(/t) textarea-ju 
	if (keyCode == 9){
	    e.preventDefault();
		$(this).val($(this).val().substring(0, start)
					+ "    "
					+ $(this).val().substring(end));
		// postavi caret nazaj na prvotno mest
		this.selectionStart =
		this.selectionEnd = start + 4;
	}
  }
});
$(document).delegate('#koda, #prekoda, #other', 'keydown', function(e) {
  var keyCode = e.keyCode || e.which;
    var start = this.selectionStart;
    var end = this.selectionEnd;
	// dodaj znak tab(/t) textarea-ju 
	if (keyCode == 9){
		e.preventDefault();
		$(this).val($(this).val().substring(0, start)
					+ "    "
					+ $(this).val().substring(end));
		// postavi caret nazaj na prvotno mest
		this.selectionStart =
		this.selectionEnd = start + 4;
	}
});
// js koda, za underlying, bold, italic, ter LaTex enačbe
function formatText(x) {
	var textArea = document.getElementById('opis');
	var textAreaValue = textArea.value;
	var textAreaSubstring = textAreaValue.substring(textArea.selectionStart, textArea.selectionEnd);
	var textAreaBefore = textAreaValue.substring(0, textArea.selectionStart);
	var textAreaAfter = textAreaValue.substring(textArea.selectionEnd, textAreaValue.length);
	if (x != "$"){
		textArea.value = textAreaBefore + '<' + x + '>' + textAreaSubstring + '</' + x + '>' + textAreaAfter;
	}
	else {
		textArea.value = textAreaBefore + x + textAreaSubstring + x + textAreaAfter;
	}
}
//koda, ki prikaze uporabniku kako zgleda njegov opis
function opis_preview() {
    var textArea = document.getElementById('opis');
	var replacedTextArea = textArea.value.replace(" ", "&nbsp");
	var textView = document.getElementById("opis_preview");
	textView.innerHTML = replacedTextArea;
}


document.getElementById("prekoda_gor_gumb").addEventListener("click", function(event){
    if(document.getElementById("opis").value) {
        document.getElementById("hidden").value = "True";
		document.getElementById("form").submit();
        document.getElementById("hidden").value = "False";
    }
});


//ko gre uporabnik naprej
%if testi:
	$('html,body').animate({scrollTop: $("#test").offset().top - 20}, 600);
%end

function tiptesta(test) {
	if(test.value == "chkeql" || test == "chkeql") {
		document.getElementById("chkeql").style.display = "inline-block";
		document.getElementById("chksct").style.display = "none";
	}
	else if(test.value == "chksct" || test == "chksct") {
		document.getElementById("chkeql").style.display = "none";
		document.getElementById("chksct").style.display = "inline-block";
	}
}

%if tests is not None:
	%if tests["check_equal"]:
		document.getElementById("eql").style.display = "block";
	%end
	%if tests["check_secret"]:
		document.getElementById("sct").style.display = "block";
	%end
	%if tests["other"]:
		document.getElementById("dodaj_f3").style.display = "none";
		document.getElementById("posodobi_f3").style.display = "block";		
	%end
%end

$(document).ready(function() {
	opis_preview();
	%if active_test == "chkeql":
		var element = document.getElementById("testSelect");
		element.value = "chkeql";
		tiptesta("chkeql");
	%end
	%if active_test == "chksct": 
		var element = document.getElementById("testSelect");
		element.value = "chksct";
		tiptesta("chksct");
	%end
});
</script>


	



</body>
</html>
