<!DOCTYPE html>

<script src="{{ get_url('static', filename='lib/codemirror.js') }}"></script>
<link rel="stylesheet" href="{{ get_url('static', filename='/lib/codemirror.css') }}">
<script src="{{ get_url('static', filename='mode/python/python.js') }}"></script>

<html lang="slo">
<head>
	<title>Podnaloga {{part_num}}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/podnaloga.css">
	<meta name="author" content="Vid Križnar">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico">
</head>

<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<form action="." class="form" id="form" method="post" style="width:960px">
	<div class="container">
		<a href="/posodobi-naloge" class="posodobi-button">Posodobi številke nalog</a>
		<a id="st_link" style="text-decoration: none; color: black;"><div contenteditable class="st_podnaloge">{{part_num}}</div></a>
		<hr class="nice_hr">
		<label for="opis"><b>Opis</b></label>
		<br>
		<div style="height:26px; width: 100%; overflow: hidden;">
			<input type="hidden" name="prekoda_gor" id="hidden" value="False" class="upper-buttons">
			<input type="button" value="bold" onClick="formatText('b');" class="upper-buttons"/> 
			<input type="button" value="italic" onClick="formatText('i');" class="upper-buttons"/> 
			<input type="button" value="underline" onClick="formatText('u');" class="upper-buttons"/>
			<input type="button" value="latex" onClick="formatText('$')" class="upper-buttons"/>
			<input type="button" value="program" onClick="formatText('`')" class="upper-buttons"/>
			<input type="button" value="predogled" style="float: right;" onClick="opis_preview()" class="upper-buttons"/>
		</div>
		<textarea name="opis" id="opis" form="form" placeholder="Dodaj besedilo k nalogi" required>{{description}}</textarea>
		<br><br>
        <label for="predogled"><b>Predogled opisa</b></label>
		<div id="opis_preview"></div>
		<br><br>
		<label for="prekoda"><b>Pre-koda</b></label>  
        <input type="button" id="prekoda_gor_gumb" value="Pošlji v opis" style="float: right;"/>
		<div style="border: 1px solid #ccc; margin-top: 8px;">
			<textarea name="prekoda" id="prekoda" form="form">{{precode}}</textarea>
		</div>
		<br>
		<label for="koda"><b>Rešitev</b></label>
		<div style="border: 1px solid #ccc; margin-top: 8px;">
			<textarea name="koda" id="koda" form="form" required>{{code}}</textarea>
		</div>
		<button type="submit" id="naprej" style="display: block;">Shrani zgornje vrednosti</button>
	</div>
</form>
<br>
<div class="container" id="testi" style="display:block; margin: auto; overflow: hidden;">
	<div class="testi">
		<div id="eql" style="display: none;">
			<label for="testi"><b>Dodani testi - Check equal</b></label>
			<form action="." id="table_edit" role="form" method="post" class="table-changes" style="display: inline-block;">
				<input type="hidden" name="changes" id="table-variable" value="">
				<button type="submit" style="width:160px; margin-top: 0;">Shrani spremembe</button>
			</form>
			<br><br>
			<table class="table-fill">
			<thead>
				<tr>
					<th class="text-center">Skupina</th>
					<th class="text-center">Izraz</th>
					<th class="text-center">Rezultat</th>
                    <th class="text-center">Urejanje</th>
				</tr>
			</thead>
			<tbody class="table-hover">
				<tbody> 
                    <!--%naslov_gumba_gor="premakni test gor"
                    %naslov_gumba_dol="premakni test dol"
                    -->
					%if "check_equal" in tests:
                    %    for group_id in range(len(tests["check_equal"])):
                    %        for i in range(len(tests["check_equal"][group_id])):
                    %            test = tests["check_equal"][group_id][i] 
                    <!--                if i==0: 
                                        naslov_gumba_gor="premakni skupino gor" 
                                        elif i==len(tests["check_equal"][group_id]) - 1: 
                                      naslov_grumba_dol="premakni skupino dol" 
                    end
                    -->
					<tr>
                        <td class="text-center"><div contenteditable="true" class="editable-eql" id="group_id">{{group_id + 1}}</div></td>
                        <td class="text-center"><div contenteditable="true" class="editable-eql" id="expression">{{test.expression}}</div></td>
                        <td class="text-center"><div contenteditable="true" class="editable-eql" id="output">{{test.output}}</div></td>
                        <td class="text-center">
                            
                            <a href="chkeql-delete{{group_id}}{{i}}/" style="text-decoration:none; color: inherit;">
                                <div id="redBox" title="izbriši test" style="display: inline-block;">
                                     <span id="x">&times;</span>
                                </div>
                            </a>
                            <a href="chkeql-move{{group_id}}{{i}}/" style="text-decoration:none; color: inherit;">
                                <div id="orangeBox" title="pošlji test v opis" style="display: inline-block;">
                                     <span id="up" style="position: relative; bottom: 3px;">&#8593;</span>
                                </div>
                            </a>

                            %if i==0:
                            <a href="chkeql-move_up{{group_id}}{{i}}/" style="text-decoration:none; color: inherit;">
                                <div id="greenBox" title="premakni skupino gor"style="display: inline-block;">
                                     <span id="up" style="position: relative; bottom: 3px;">&#8593;</span>
                                </div>
                            </a>
                            %else:
                            <a href="chkeql-move_up{{group_id}}{{i}}/" style="text-decoration:none; color: inherit;">
                                <div id="greenBox" title="premakni test gor" style="display: inline-block;">
                                     <span id="up" style="position: relative; bottom: 3px;">&#8593;</span>
                                </div>
                            </a>
                            %end
        
                            %if i==len(tests["check_equal"][group_id]) - 1:
                            <a href="chkeql-move_down{{group_id}}{{i}}/" style="text-decoration:none; color: inherit;">
                                <div id="greenBox" title="premakni skupino dol" style="display: inline-block;">
                                     <span id="up" style="position: relative; bottom: 3px;">&#8595;</span>
                                </div>
                            </a>
                            %else:
                            <a href="chkeql-move_down{{group_id}}{{i}}/" style="text-decoration:none; color: inherit;">
                                <div id="greenBox" title="premakni test dol" style="display: inline-block;">
                                     <span id="up" style="position: relative; bottom: 3px;">&#8595;</span>
                                </div>
                            </a>
                            %end
  
                            <div style="display: inline-block;" contenteditable="true" class="editable-eql" id="i">{{i + 1}}</div>
                        </td>
					</tr>
					%end
					%end
					%end
				</tbody>
			</tbody>
			</table>
			<br>
		</div>
		<div id="sct" style="display: none;">
			<br>
			<label for="testi"><b>Dodani testi - Check secret</b></label>
			<div class="table-changes" style="display: inline-block; margin-bottom: 10px;">
				<button type="submit" form="table_edit" style="width:160px; margin: 0 0 8px 0;">Shrani spremembe</button>
			</div>
			<table class="table-fill">
			<thead>
				<tr>
					<th class="text-center">Skupina</th>
					<th class="text-center">Izraz</th>
					<th class="text-center">Sporočilo</th>
                    <th class="text-center">Urejanje</th>
				</tr>
			</thead>
			<tbody class="table-hover">
				<tbody> 
					%if "check_secret" in tests:
                    %    for group_id in range(len(tests["check_secret"])):
                    %        for i in range(len(tests["check_secret"][group_id])):
                    %            test = tests["check_secret"][group_id][i]
					<tr>
                        <td class="text-center"><div contenteditable="true" class="editable-sct" id="group_id_s">{{group_id + 1}}</div></td>
                        <td class="text-center"><div contenteditable="true" class="editable-sct" id="expression_s">{{test.expression}}</div></td>
                        <td class="text-center"><div contenteditable="true" class="editable-sct" id="output_s">{{test.other}}</div></td>
                        <td class="text-center">
                            <div id="redBox" title="izbriši test" style="display: inline-block;">
                                <a href="chksct-delete{{group_id}}{{i}}/" style="text-decoration:none; color: inherit;"><span id="x">&times;</span></a>
                            </div>
                            
                            
                            %if i==0:
                            <a href="chksct-move_up{{group_id}}{{i}}/" style="text-decoration:none; color: inherit;">
                                <div id="greenBox" title="premakni skupino gor"style="display: inline-block;">
                                     <span id="up" style="position: relative; bottom: 3px;">&#8593;</span>
                                </div>
                            </a>
                            %else:
                            <a href="chksct-move_up{{group_id}}{{i}}/" style="text-decoration:none; color: inherit;">
                                <div id="greenBox" title="premakni test gor" style="display: inline-block;">
                                     <span id="up" style="position: relative; bottom: 3px;">&#8593;</span>
                                </div>
                            </a>
                            %end
        
                            %if i==len(tests["check_secret"][group_id]) - 1:
                            <a href="chksct-move_down{{group_id}}{{i}}/" style="text-decoration:none; color: inherit;">
                                <div id="greenBox" title="premakni skupino dol" style="display: inline-block;">
                                     <span id="up" style="position: relative; bottom: 3px;">&#8595;</span>
                                </div>
                            </a>
                            %else:
                            <a href="chksct-move_down{{group_id}}{{i}}/" style="text-decoration:none; color: inherit;">
                                <div id="greenBox" title="premakni test dol" style="display: inline-block;">
                                     <span id="up" style="position: relative; bottom: 3px;">&#8595;</span>
                                </div>
                            </a>
                            %end
                            <div style="display: inline-block;" contenteditable="true" class="editable-sct" id="i_s">{{i + 1}}</div>
                        </td>
					</tr>
					%end
					%end
					%end
				</tbody>
			</tbody>
			</table>
		</div>
		<div class="dodajanje" id="dodajanje" style="margin-top: 20px;">
			<label for="test"><b id="test" style="width: 50%;">Dodaj test</b></label>
			<select id="testSelect" name="tipTesta" onchange="tiptesta(this)" style="display: inline-block; padding-left: 5px;">
				<option selected value='chkeql'>Check equal</option>
				<option value='chksct'>Check secret</option>
			</select>
			<br><br>
			<form action="." role="form" method="post" class="form1" id="chkeql" style="display: inline-block;">
				<input type="hidden" name="tipTesta" value="chkeql">
				<input type="number" value={{len(tests["check_equal"]) + 1 }} name="stevilka" style="float:left; width:100px;" required>
				<input type="text" placeholder="Izraz" name="niz" style="float:left; width:500px;" required>
				<input type="text" placeholder="Rezultat" name="rezultat" style="float:left; width:240px;" required>
				<button type="submit" class="submit" style="float:right; width:100px; margin-top: 8px;">Dodaj</button>
			</form>
			<form action="." role="form" method="post" class="form1" id="chksct" style="height: 53px; display: none;">
				<input type="hidden" name="tipTesta" value="chksct">
				<input type="number" value={{len(tests["check_secret"]) + 1 }} name="stevilka" style="float:left; width:100px;" required>
				<input type="text" placeholder="Izraz" name="niz1" style="float:left; width:370px;" required>
				<input type="text" placeholder="Sporočilo" name="niz2" style="float:left; width:370px;">
				<button type="submit" class="submit" style="float:right; width:100px; margin-top: 8px;">Dodaj</button>
			</form>
		</div>
		<br>
		<label for="other"><b id="other_label" style="width: 50%;">Dodaj preostale teste</b></label>
		<form action="." role="form" method="post" class="form1" id="form3" style="height: 310px; width: 100%; display: inline-block; margin-top: 8px;">
			<input type="hidden" name="tipTesta" value="other">
			<div style="border: 1px solid #ccc; width: 88.5%; float:left;"><textarea name="other" id="other" form="form3" placeholder="Vnesi ostale teste" required>{{tests["other"]}}</textarea></div>
			<button type="submit" class="submit" id="dodaj_f3" style="float:right; display: block; width:100px; margin-top: 0;">Dodaj</button>
			<button type="submit" class="submit" id="posodobi_f3" style="float:right; display:none; width:100px; margin-top: 0;">Posodobi</button>
		</form>
	</div>
	<br>
	<div>
        <a class="link" href="/index/naloga/podnaloga_izbrisi{{part_num}}/" onclick="close_window();">
			<button id="naprej" style="display: inline-block; margin: auto; width: 33.018%;">Izbriši podnalogo</button></a>
		<a class="link" href="/index/naloga/podnaloga/" target="_blank" >
			<button id="naprej" style="display: inline-block; margin: auto; width: 33.018%;">Nova podnaloga</button></a>
		<a class="link" href="/pretvori/">
			<button id="naprej" style="display: inline-block; margin: auto; width: 33.018%;">Oddaj nalogo</button></a>
	</div>
</div>

<!--
var editor = CodeMirror(document.getElementById("precode_area"), {
  lineNumbers: true,
  mode: "python",
  version: 3,
  indentUnit: 4,
})

editor.getDoc().setValue('def alo(): pass');
-->

<script>

var precodeArea = document.getElementById('prekoda');
var editor = CodeMirror.fromTextArea(precodeArea, {
  lineNumbers: true,
  mode: "python",
  version: 3,
  indentUnit: 4,
});

var solutionArea = document.getElementById('koda');
var editor = CodeMirror.fromTextArea(solutionArea, {
  lineNumbers: true,
  mode: "python",
  version: 3,
  indentUnit: 4,
});

var otherTestsArea = document.getElementById('other');
var editor = CodeMirror.fromTextArea(otherTestsArea, {
  lineNumbers: true,
  mode: "python",
  version: 3,
  indentUnit: 4,
});



<!-- window.onblur= function() {window.onfocus= function () {location.reload(true)}}; -->
// jQuery koda, ki če uporabnik pritisne tab ga prestavi za tab v deno, ne samo da se premakne na naslednji element na strani
$(document).delegate('#opis', 'keydown', function(e) {
  var keyCode = e.keyCode || e.which;
  if (keyCode == 9 || keyCode == 13) {
    var start = this.selectionStart;
    var end = this.selectionEnd;
	// dodaj znak tab(/t) textarea-ju 
	if (keyCode == 9){
	    e.preventDefault();
		$(this).val($(this).val().substring(0, start)
					+ "    "
					+ $(this).val().substring(end));
		// postavi caret nazaj na prvotno mest
		this.selectionStart =
		this.selectionEnd = start + 4;
	}
  }
});
$(document).delegate('#koda, #prekoda, #other', 'keydown', function(e) {
  var keyCode = e.keyCode || e.which;
    var start = this.selectionStart;
    var end = this.selectionEnd;
	// dodaj znak tab(/t) textarea-ju 
	if (keyCode == 9){
		e.preventDefault();
		$(this).val($(this).val().substring(0, start)
					+ "    "
					+ $(this).val().substring(end));
		// postavi caret nazaj na prvotno mest
		this.selectionStart =
		this.selectionEnd = start + 4;
	}
});
// js koda, za underlying, bold, italic, ter LaTex enačbe
function formatText(x) {
	var textArea = document.getElementById('opis');
	var textAreaValue = textArea.value;
	var textAreaSubstring = textAreaValue.substring(textArea.selectionStart, textArea.selectionEnd);
	var textAreaBefore = textAreaValue.substring(0, textArea.selectionStart);
	var textAreaAfter = textAreaValue.substring(textArea.selectionEnd, textAreaValue.length);
	if (x != "$" && x != "`"){
		textArea.value = textAreaBefore + '<' + x + '>' + textAreaSubstring + '</' + x + '>' + textAreaAfter;
	}
	else {
		textArea.value = textAreaBefore + x + textAreaSubstring + x + textAreaAfter;
	}
}
//koda, ki prikaze uporabniku kako zgleda njegov opis
function opis_preview() {
    var textArea = document.getElementById('opis');
	var replacedTextArea = textArea.value.replace(" ", "&nbsp");
	var textView = document.getElementById("opis_preview");
	textView.innerHTML = replacedTextArea;
}


document.getElementById("prekoda_gor_gumb").addEventListener("click", function(event){
    if(document.getElementById("opis").value) {
        document.getElementById("hidden").value = "True";
		document.getElementById("form").submit();
		document.getElementById("hidden").value = "False";
    }
});




function tiptesta(test) {
	if(test.value == "chkeql" || test == "chkeql") {
		document.getElementById("chkeql").style.display = "inline-block";
		document.getElementById("chksct").style.display = "none";
	}
	else if(test.value == "chksct" || test == "chksct") {
		document.getElementById("chkeql").style.display = "none";
		document.getElementById("chksct").style.display = "inline-block";
	}
}

%if tests is not None:
	%if tests["check_equal"]:
		document.getElementById("eql").style.display = "block";	
	%end
	%if tests["check_secret"]:
		document.getElementById("sct").style.display = "block";		
	%end
	%if tests["other"]:
		document.getElementById("dodaj_f3").style.display = "none";
		document.getElementById("posodobi_f3").style.display = "block";		
	%end
%end

$(document).ready(function() {
	opis_preview();
	%if active_test == "chkeql":
		var element = document.getElementById("testSelect");
		element.value = "chkeql";
		tiptesta("chkeql");
	%end
	%if active_test == "chksct": 
		var element = document.getElementById("testSelect");
		element.value = "chksct";
		tiptesta("chksct");
	%end
});

var changes2 = {"check_equal" : [], "check_secret" : []};

var contents_e = $('.editable-eql').html();
$('.editable-eql').blur(function() {
    if (contents_e!=$(this).html()){
        change = {
            "group_id" : $(this)[0].parentNode.parentNode.cells[0].querySelector('#group_id').textContent,
            "expression" : $(this)[0].parentNode.parentNode.cells[1].querySelector('#expression').textContent,
            "output" : $(this)[0].parentNode.parentNode.cells[2].querySelector('#output').textContent,
            "index" : $(this)[0].parentNode.parentNode.cells[3].querySelector('#i').textContent
            };
        changes2.check_equal.push(change);
        document.getElementById("table-variable").value = JSON.stringify(changes2); //changes2;
        contents_e = $(this).html();
    }
});

var contents_s = $('.editable-sct').html();
$('.editable-sct').blur(function() {
    if (contents_s!=$(this).html()){
        change = {
            "group_id" : $(this)[0].parentNode.parentNode.cells[0].querySelector('#group_id_s').textContent,
            "expression" : $(this)[0].parentNode.parentNode.cells[1].querySelector('#expression_s').textContent,
            "other" : $(this)[0].parentNode.parentNode.cells[2].querySelector('#output_s').textContent,
            "index" : $(this)[0].parentNode.parentNode.cells[3].querySelector('#i_s').textContent 
            };
        changes2.check_secret.push(change);
        
        document.getElementById("table-variable").value = JSON.stringify(changes2);
        contents_s = $(this).html();
    }
});

var st_podnaloge = $('.st_podnaloge').html();
$('.st_podnaloge').blur(function() {
    if (st_podnaloge!=$(this).html()){	
		st_podnaloge = $(this).html();
		var linkString = "/preostevilci{{part_num}}" + st_podnaloge;
		document.getElementById("st_link").setAttribute("href",linkString);
		document.getElementById("st_link").click();
    }
});

//open source koda, ki pazi kdaj uporabnik gleda trenutni zavihek in na spremembe reagira z refreshom strani
//tako, da če uporabnik zbriše podnalogo stran sama poskrbi da se nadaljne podnaloge osvežijo
var vis = (function(){
    var stateKey, eventKey, keys = {
        hidden: "visibilitychange",
        webkitHidden: "webkitvisibilitychange",
        mozHidden: "mozvisibilitychange",
        msHidden: "msvisibilitychange"
    };
    for (stateKey in keys) {
        if (stateKey in document) {
            eventKey = keys[stateKey];
            break;
        }
    }
    return function(c) {
        if (c) document.addEventListener(eventKey, c);
        return !document[stateKey];
    }
})();

var osvezi = true;

vis(function(){
	if (vis()==true) {
		osvezi = false;
		location.reload(true);
	}
});


window.onbeforeunload = function(){
	if (osvezi){
		return "A res hočs zapustit stran?"
	}
	else {
		osvezi = true;
	}
}

$(document).ready(function() {
		//Da ga ne vprasa ce hoce zapustit stran ko klikne link oz. submita form
        $('a').click(function() { window.onbeforeunload = null; });
        $('form').submit(function() { window.onbeforeunload = null; });
    });

</script>


	



</body>
</html>
