body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

input[type="file"]{
	font-size: 15px;
	height:33px;
  }

input[type="file"]::-webkit-file-upload-button{
	height:33px;
  }

.container {
	width: 960px; 
	margin: 200px auto 0 auto; 
	display: block; 
}

.nova, .obstojeca {
	background-color: rgba(242, 242, 242, 0.40);
	width: 400px;
	border: 3px solid #f1f1f1;
	margin-left: auto; 
	margin-right: auto;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.6);
	
}

.nova:hover, .obstojeca:hover {opacity: 0.9; box-shadow: 0px 12px 24px 0px rgba(0,0,0,0.6);}

.nova {float: left;	padding-top: 194px; height: 306px;}
.obstojeca {float: right; padding-top: 170px; height: 330px;}

label {
	font-size: 19px; 
	cursor: pointer; 
	margin-left: auto; 
	margin-right: auto;
}

.nova p, .obstojeca p {
	color: black; 
	text-transform: uppercase; 
	text-decoration: none; 
	text-align: center; 
	vertical-align: middle;
	font-size:44px; 
	padding-top: 0px; 
	font-family: Georgia; 
	overflow:hidden; 
	margin: 16px
}



